<% include partials/headers %>

<h1><%= campgrounds.name %></h1>

<img src="<%= campgrounds.image %>" alt="">

<p><%= campgrounds.description %></p>

<% campgrounds.comments.forEach((comment) => { %>
    <p><strong><%= comment.author %></strong> - <%= comment.text %></p>
<% }) %>

<% include partials/footers %>
